MONGO_URI=mongodb+srv://devuser:2RZmozfjrKbTaVCW@aicareercoachvectordbde.ubxh0z3.mongodb.net/career_counseling?retryWrites=true&w=majority
SECRET_KEY=mongo_job_redcommendation_your_secret_key_here
DEBUG=True
TIE_BREAKER_DELTA=1
MAX_TIE_BREAKER_ROUNDS=3