name: Deploy to Cloud Run

on:
  push:
    branches: [ test ]

env:
  PROJECT_ID: project-aradhya-dengre
  REGION: asia-southeast1
  SERVICE_NAME: riasec-responses-test
  REPO_NAME: riasec-responses-test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Docker login to Artifact Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGION }}-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      
      - name: Build and push Docker image
        run: |
          IMAGE="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/career-app:${{ github.sha }}"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Install gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image "$IMAGE" \
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --timeout 300s \
            --set-env-vars GCS_BUCKET=${{ env.GCS_BUCKET }} \
            --service-account ${{ secrets.GCP_SA_EMAIL }} \
            --min-instances 1 \
            --max-instances 3 \
            --cpu 4 \
            --memory 4Gi

